  /* label color */

  .input-field label {
    color: #000 !important;
  }

  /* label focus color */

  .input-field input[type=text]:focus+label,
  .input-field input[type=number]:focus+label {
    color: #438bf4 !important;
  }

  /* label underline focus color */

  .input-field input[type=text]:focus,
  .input-field input[type=number]:focus {
    border-bottom: 1px solid #438bf4 !important;
    box-shadow: 0 1px 0 0 #438bf4 !important;
  }

  /* valid color */

  .input-field input[type=text].valid,
  .input-field input[type=number].valid {
    border-bottom: 1px solid #38d352 !important;
    box-shadow: 0 1px 0 0 #38d352 !important;
  }

  /* invalid color */

  .input-field input[type=text].invalid,
  .input-field input[type=number].invalid {
    border-bottom: 1px solid #dd6363 !important;
    box-shadow: 0 1px 0 0 #dd6363 !important;
  }

  /* icon prefix focus color */

  .input-field .prefix.active {
    color: #438bf4 !important;
  }